############ ignored files ##############
## git add [uncommitted changes you want to keep] && git commit
## git rm -r --cached .
## git add .
## git commit -m "fixed untracked files"
####################
# Ignore all .log files
*.log

# Ignore a directory and its contents
node_modules/
build/
dist/
http/
# Ignore Mac system files
.DS_store

# python files
**/__pycache__
*.pyc
*.py[cod]
*.so
.Python
env/
venv/
*.egg-info/

# Javascript/Node.js
node_modules/
npm-debug.log
.yarn-integrity
.env
.DS_Store

# Java
*.class
*.jar
*.war
*.ear
target/

# general development
*.swp
*.swo
*~
.DS_Store
.idea/
.vscode/

