<roxterm_session id='WORKING'>
  <window geometry='131x24+0+1351'
      title_template='%s' font='Source Code Pro Medium 18'
      title_template_locked='0'
      title='swang@devx:/sites/projects/apps' role='(null)'
      shortcut_scheme='Default' show_menubar='0'
      always_show_tabs='1' tab_pos='3'
      show_add_tab_btn='1'
      disable_menu_shortcuts='0' disable_tab_shortcuts='0'
      maximised='0' fullscreen='0' borderless='0' zoom='1.000000'>
    <tab profile='WORK'
        title_template='dev' window_title='swang@devx:/sites/projects/apps'
        title_template_locked='1' current='0'
        cwd='/sites/projects/apps'>
      <command argc='1'>
        <arg s='/bin/bash' />
      </command>
    </tab>
    <tab profile='WORK'
        title_template='devx' window_title='swang@devx:/sites/devx'
        title_template_locked='1' current='0'
        cwd='/sites/devx'>
      <command argc='1'>
        <arg s='/bin/bash' />
      </command>
    </tab>
    <tab profile='WORK'
        title_template='quasar' window_title='swang@devx:/sites/projects/apps'
        title_template_locked='1' current='1'
        cwd='/sites/projects/apps'>
      <command argc='1'>
        <arg s='/bin/bash' />
      </command>
    </tab>
    <tab profile='WORK'
        title_template='work' window_title='swang@devx:~'
        title_template_locked='1' current='0'
        cwd='/home/swang'>
      <command argc='1'>
        <arg s='/bin/bash' />
      </command>
    </tab>
    <tab profile='CHECK'
        title_template='check' window_title='swang@devx:~'
        title_template_locked='1' current='0'
        cwd='/home/swang'>
      <command argc='1'>
        <arg s='/bin/bash' />
      </command>
    </tab>
  </window>
  <window geometry='142x24+1844+1351'
      title_template='%s' font='Source Code Pro Medium 18'
      title_template_locked='0'
      title='swang@devx:~' role='(null)'
      shortcut_scheme='Default' show_menubar='0'
      always_show_tabs='1' tab_pos='3'
      show_add_tab_btn='1'
      disable_menu_shortcuts='0' disable_tab_shortcuts='0'
      maximised='0' fullscreen='0' borderless='0' zoom='1.000000'>
    <tab profile='WORK'
        title_template='vlnk' window_title='swang@devx:~/vlnk'
        title_template_locked='1' current='0'
        cwd='/home/swang/vlnk'>
      <command argc='1'>
        <arg s='/bin/bash' />
      </command>
    </tab>
    <tab profile='WORK'
        title_template='work' window_title='swang@devx:~'
        title_template_locked='1' current='1'
        cwd='/home/swang'>
      <command argc='1'>
        <arg s='/bin/bash' />
      </command>
    </tab>
    <tab profile='CHECK'
        title_template='check' window_title='swang@devx:~'
        title_template_locked='1' current='0'
        cwd='/home/swang'>
      <command argc='1'>
        <arg s='/bin/bash' />
      </command>
    </tab>
    <tab profile='GIT'
        title_template='git' window_title='swang@devx:/sites/projects'
        title_template_locked='0' current='1'
        cwd='/sites/projects'>
      <command argc='1'>
        <arg s='/bin/bash' />
      </command>
    </tab>
    <tab profile='WORK'
        title_template='python' window_title='swang@devx:~'
        title_template_locked='1' current='0'
        cwd='/home/swang'>
      <command argc='1'>
        <arg s='/bin/bash' />
      </command>
    </tab>
    <tab profile='ROOT'
        title_template='root' window_title='root@devx:~'
        title_template_locked='1' current='1'
        cwd='/home/swang'>
      <command argc='1'>
        <arg s='/bin/bash' />
      </command>
    </tab>
    <tab profile='WORK'
        title_template='log' window_title='swang@devx:~'
        title_template_locked='1' current='0'
        cwd='/home/swang'>
      <command argc='1'>
        <arg s='/bin/bash' />
      </command>
    </tab>
  </window>
</roxterm_session>
