@mixin mark {
  width: 40px;
  height: 40px;
  padding: 1px 0 0 11px;
  margin:-6px 0 0 -1px;
  font-size: 24px;
  color: white;
  border: 2px solid cyan;
  border-radius: 50%;
}
// .hole-smark1 {
//   @include mark;
//   margin:-6px 0 0 -1px;
// }
// .hole-smark2 {
//   @include mark;
//   padding: 1px 0 0 4px;
// }
.hole-mark1 {
  @include mark;
  margin:-96px 0 0 -1px;
}
.hole-mark2 {
  @include mark;
  padding: 1px 0 0 4px;
  margin:-96px 0 0 -1px;
}
@mixin pars {
  width: 23px;
  height: 23px;
  padding: 4px 0 0 7px;
  margin:-110px 0 0 16px;
  font-size: 16px;
  background-color: blue;
  color: lime;
}
.hole-par1 {
  @include pars;
  margin-left: 16px;
}
.hole-par2 {
  @include pars;
  margin-left: 18px;
}
@mixin stroke-base {
  width: 59px;
  height: 59px;
  margin: 2px 0 0 1px;
  border-radius: 50%;
  font-size: 30px;
  border: 2px solid;
}
._enter {
  @include stroke-base;
  font-size: 30px;
  color: yellow;
  background: yellow;
  border-color: yellow;
}
._zero {
  @include stroke-base;
  color: white;
  background:white;
  border-color: white;
}
._par {
  @include stroke_base;
  color:white;
  background:green;
  border-color: cyan;
  padding-left: 17px;
}
._bird {
  @include stroke_base;
  color: yellow;
  background:red;
  border-color: yellow;
  padding-left: 17px;
}
._bogy {
  @include stroke_base;
  color: lime;
  background: blue;
  border-color: yellow;
  padding-left: 17px;
}
.__par {
  @include stroke_base;
  color:white;
  background:green;
  border-color: cyan;
}
.__bird {
  @include stroke_base;
  color: yellow;
  background:red;
  border-color: yellow;
}
.__bogy {
  @include stroke_base;
  color: lime;
  background: blue;
  border-color: yellow;
}
._eagl {
  @include stroke_base;
  color: navy;
  background:lime;
  border-color: red;
}
._dobl {
  @include stroke_base;
  border-radius: 37%;
  color: white;
  background: navy;
  border-color: gold;
}
._trpl {
  @include stroke_base;
  border-radius: 20%;
  color: white;
  background: purple;
  border-color: white;
}
._quad {
  @include stroke_base;
  border-radius: 15%;
  color: yellow;
  background: rgb(43, 1, 1);
  border-color: yellow;
}
._dpar {
  @include stroke_base;
  border-radius: 15%;
  color: red;
  background: rgb(9, 11, 9);
  border-color: red;
}