// app global css in SCSS form
@use '_common';
@use '_pagination';
.wa-sticky-header-table {
  @import '_table.sass';
  /* height or max-height is important */
  // background-color: GRB(18, 58, 78)
  height: 920px;
  width: 775px;
  border: 1px solid pink;
}

.sh-sticky-header-table {
  @import '_table.sass';
  /* height or max-height is important */
  // background-color: GRB(19, 58, 78)
  // height: 878px;
  height: 972px;
  border: 1px solid pink
}

.sh-sticky-header-column-table {
  @import '_table_sticky_col.sass';
  /* height or max-height is important */
  // background-color: GRB(38, 58, 78)
  height: 480px
}
.shadow-box-lg {
  width: 66px;
  height: 66px;
  margin: 2px;
  border-radius: 50%;
  font-size: 24px;
  color: yellow;
}
.shadow-box-60-grey {
  width: 60px;
  height: 60px;
  padding: 5px 0 0 2px;
  margin: 2px;
  border-radius: 50%;
  font-size: 36px;
  color: white;
  background: grey;
}
.shadow-box-60-red {
  width: 60px;
  height: 60px;
  padding: 5px 0 0 2px;
  margin: 2px;
  border-radius: 50%;
  font-size: 36px;
  color: white;
  background: red;
}
.shadow-box-green {
  width: 55px;
  height: 55px;
  margin: 2px;
  border-radius: 50%;
  font-size: 30px;
  color: yellow;
  background: green;
}
.shadow-box-grey {
  width: 55px;
  height: 55px;
  margin: 2px;
  border-radius: 50%;
  font-size: 30px;
  color: black;
  background: grey;
}
.shadow-box-hcap {
  width: 45px;
  height: 45px;
  margin: 2px;
  border-radius: 40%;
  font-size: 30px;
  color: yellow;
  background:darkblue;
  border: 3px solid white;
}
.shadow-box-par {
  width: 45px;
  height: 45px;
  margin: 2px;
  border-radius: 40%;
  font-size: 30px;
  color: white;
  background:green;
  border: 3px solid white;
}
.shadow-box-hole {
  width: 55px;
  height: 55px;
  margin: 2px;
  border-radius: 50%;
  font-size: 30px;
  color: white;
  background: purple;
  border: 3px solid white;
}
.shadow-box-60-hole {
  width: 60px;
  height: 60px;
  margin: 2px;
  border-radius: 50%;
  font-size: 30px;
  color: white;
  background: purple;
  border: 3px solid white;
}
.shadow-box-ggrey {
  width: 55px;
  height: 55px;
  margin: 2px;
  border-radius: 50%;
  font-size: 30px;
  color: grey;
  background: grey;
}
.shadow-box-blue {
  width: 55px;
  height: 55px;
  margin: 2px;
  border-radius: 50%;
  font-size: 30px;
  color: white;
  background: blue;
}
.X_shadow-box-Eagl {
  width: 55px;
  height: 55px;
  margin: 2px;
  border-radius: 50%;
  font-size: 18px;
  font-weight:500;
  color: white;
  background: purple;
}
.X_shadow-box-Bird {
  width: 55px;
  height: 55px;
  margin: 2px;
  border-radius: 50%;
  font-size: 18px;
  font-weight:500;
  color: white;
  background: red;
}
.X_shadow-box-Par {
  width: 55px;
  height: 55px;
  margin: 2px;
  border-radius: 50%;
  font-size: 18px;
  font-weight:500;
  color: white;
  background: green;
}
.X_shadow-box-Bogy {
  width: 55px;
  height: 55px;
  margin: 2px;
  border-radius: 50%;
  font-size: 18px;
  font-weight:500;
  color: white;
  background: teal;
}
.X_shadow-box-Dobl {
  width: 55px;
  height: 55px;
  margin: 2px;
  border-radius: 50%;
  font-size: 18px;
  font-weight:500;
  color: white;
  background: blue;
}
.X_shadow-box-Trpl {
  width: 55px;
  height: 55px;
  margin: 2px;
  border-radius: 50%;
  font-size: 18px;
  font-weight:500;
  color: white;
  background: black;
}
.X_shadow-box-Quad {
  width: 55px;
  height: 55px;
  margin: 2px;
  border-radius: 50%;
  font-size: 18px;
  font-weight:500;
  color: white;
  background: grey;
}
.X_shadow-box-Dpar {
  width: 55px;
  height: 55px;
  margin: 2px;
  border-radius: 50%;
  font-size: 18px;
  font-weight:500;
  color: white;
  background: grey;
}
.shadow-box-red {
  width: 55px;
  height: 55px;
  margin: 2px;
  border-radius: 50%;
  font-size: 30px;
  color: white;
  background: red;
}
.shadow-box-init {
  width: 55px;
  height: 55px;
  margin: 2px;
  border-radius: 50%;
  font-size: 30px;
  color: black;
  background: cyan;
}
.shadow-box-fbscore {
  width: 57px;
  height: 57px;
  margin: 2px;
  border-radius: 50%;
  font-size: 30px;
  color: white;
  background: gray;
}
.shadow-box-56-red {
  width: 56px;
  height: 56px;
  padding: 3px 0 0 2px;
  margin: 2px;
  border-radius: 50%;
  font-size: 36px;
  color: white;
  background: red;
}
.shadow-box-56-grey {
  width: 56px;
  height: 56px;
  padding: 3px 0 0 2px;
  margin: 2px;
  border-radius: 50%;
  font-size: 36px;
  color: white;
  background: grey;
}
.hole-par1 {
  width: 23px;
  height: 23px;
  padding: 4px 0 0 7px;
  margin:-110px 0 0 16px;
  font-size: 16px;
  color: white;
}
.hole-smark1 {
  // position: relative;
  width: 40px;
  height: 40px;
  padding: 1px 0 0 11px;
  margin:-6px 0 0 -1px;
  // margin:-96px 0 0 16px;
  font-size: 24px;
  color: white;
  border: 2px solid cyan;
  border-radius: 50%;

}
.hole-smark2 {
  width: 40px;
  height: 40px;
  padding: 1px 0 0 4px;
  margin:-6px 0 0 -1px;
  font-size: 24px;
  color: white;
  border: 2px solid cyan;
  border-radius: 50%;
}
.hole-mark1 {
  width: 40px;
  height: 40px;
  padding: 1px 0 0 11px;
  margin:-96px 0 0 -1px;
  font-size: 24px;
  color: white;
  border: 2px solid cyan;
  border-radius: 50%;
}
.hole-mark2 {
  width: 40px;
  height: 40px;
  padding: 1px 0 0 4px;
  margin:-96px 0 0 -1px;
  font-size: 24px;
  color: white;
  border: 2px solid cyan;
  border-radius: 50%;
}
// .hole-mark2 {
//   width: 23px;
//   height: 23px;
//   padding: 4px 0 0 1px;
//   margin:-96px 0 0 18px;
//   font-size: 16px;
//   color: white;
// }
.hole-par2 {
  width: 23px;
  height: 23px;
  padding: 4px 0 0 7px;
  margin:-110px 0 0 18px;
  font-size: 16px;
  color: white;
}
._X {
  width: 59px;
  height: 59px;
  margin: 2px 0 0 1px;
  border-radius: 50%;
  font-size: 30px;
  color: yellow;
  background: pink;
  border: 3px solid green;
}
._enter {
  width: 59px;
  height: 59px;
  margin: 2px 0 0 1px;
  border-radius: 50%;
  font-size: 30px;
  color: yellow;
  background: yellow;
  border: 3px solid yellow;
}
._zero {
  width: 59px;
  height: 59px;
  margin: 2px 0 0 1px;
  border-radius: 50%;
  font-size: 30px;
  color: white;
  background:white;
  border: 3px solid white;
}
._par {
  width: 59px;
  height: 59px;
  // padding: 8px 0 0 1px;
  margin: 2px 0 0 1px;
  border-radius: 50%;
  font-size: 30px;
  color: white;
  background:green;
  border: 3px solid cyan;
}
._eagl {
  width: 59px;
  height: 59px;
  margin: 2px 0 0 1px;
  border-radius: 50%;
  font-size: 30px;
  color: navy;
  background:lime;
  border: 3px solid red;
}
._bird {
  width: 59px;
  height: 59px;
  margin: 2px 0 0 1px;
  border-radius: 50%;
  font-size: 30px;
  color: yellow;
  background:red;
  border: 3px solid yellow;
}
._bogy {
  width: 59px;
  height: 59px;
  margin: 2px 0 0 1px;
  border-radius: 50%;
  font-size: 30px;
  color: lime;
  background: blue;
  border: 3px solid yellow
}
._dobl {
  width: 59px;
  height: 59px;
  margin: 2px 0 0 1px;
  border-radius: 37%;
  font-size: 30px;
  color: white;
  background: navy;
  border: 3px solid cyan;
}
._trpl {
  width: 59px;
  height: 59px;
  margin: 2px 0 0 1px;
  border-radius: 20%;
  font-size: 30px;
  color: white;
  background: black;
  border: 3px solid white;
}
._quad {
  width: 59px;
  height: 59px;
  margin: 2px 0 0 1px;
  border-radius: 50%;
  font-size: 20px;
  color: white;
  background: black;
  border: 3px solid indianred;
}
._dpar {
  width: 59px;
  height: 59px;
  margin: 2px 0 0 1px;
  border-radius: 20%;
  font-size: 30px;
  color: white;
  background: black;
  border: 3px solid lime
}